/* Header.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0 4px 6px rgba(17, 0, 251, 0.1);
    transition: background-color 0.3s, padding 0.3s, box-shadow 0.3s;
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
}

.header2 {
    display: flex;
    justify-content: space-between;
    background-color: #004d91;
    padding: 10px 20px;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo-img{
    width: 40%;
}

/* Logo container */



.nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.nav-links.open {
    display: block;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 24px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .nav {
        position: relative;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        flex-direction: column;
        width: 200px;
    }

    .nav-links.open {
        display: flex;
    }

    .menu-button {
        display: block;
    }

    .logo-img{
        width: 60%;
    }

}
