.registro-form-containerRegistro {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media (min-width: 768px) {
  .registro-form-containerRegistro {
    max-width: 800px;
    flex-direction: row;
    gap: 20px;
  }
}

.registro-image-containerRegistro {
  flex: 1;
  text-align: center;
  margin-top: auto;
}

@media (max-width: 768px) {
  .registro-image-containerRegistro {
    display: none; /* Oculta la imagen en pantallas pequeñas */
  }
}

.registro-imageRegistro {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.registro-formRegistro {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.formulario {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

@media (min-width: 768px) {
  .formulario {
    grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas grandes */
  }
}

.formulario input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.password-input {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input-wrapper input {
  flex: 1;
  padding-right: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.recuerdame {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  justify-content: center;
  text-align: center;
  grid-column: span 2; /* Abarca ambas columnas en pantallas grandes */
}

.cuadro {
  margin: 0;
}

.recuerdame span {
  display: inline;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  grid-column: span 2;
  margin-top: 20px;
}

.btn:hover {
  background-color: darkorange;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .formulario {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }

  .recuerdame {
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    grid-column: span 1; /* Se adapta a una columna en móvil */
  }

  .btn {
    grid-column: span 1;
  }
}
