/* Estilos para el contenedor principal */
.flex {
    display: flex;
}

/* Estilos para el contenedor del aside */
.aside-container {
    background-color: rgb(0, 50, 150);
    height: 100vh;
    padding: 20px 10px;
    width: 288px;
    transition: width 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Estilos para el aside cuando está cerrado */
.aside-container.closed {
    width: 96px;
}

/* Estilos para el icono de flecha de retroceso */
.back-icon {
    background-color: white;
    color: rgb(0, 50, 150);
    font-size: 24px;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: 20px;
    border: 1px solid rgb(0, 50, 150);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.back-icon:hover {
    transform: scale(1.1);
}

/* Estilos para el contenedor del dashboard */
.dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

/* Estilos para el logo */
.logo-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el título del dashboard */
.dashboard-title {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    line-height: 1.2;
}

/* Estilos para el menú */
.menu {
    padding-top: 20px;
    list-style: none;
    margin: 0;
}

/* Estilos para cada ítem del menú */
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 8px;
    transition: background-color 0.3s;
}

/* Estilos para el ítem activo */
.menu-item.active {
    background-color: #1a73e8; /* Azul claro para el ítem activo */
    color: white;
}

/* Estilos para el ítem del menú al pasar el cursor */
.menu-item:hover {
    background-color: #3f51b5;
}

/* Estilos para el icono de cada ítem del menú */
.menu-icon {
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

/* Oculta el texto del enlace en el menú cuando está cerrado */
.closed .menu-link {
    display: none;
}

/* Estilos para el enlace de cada ítem del menú */
.menu-link {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.3s;
}

.menu-link:hover {
    color: #e0e0e0;
}

/* Estilos para el segundo menú */


/* Estilos para el contenido */
.content {
    padding: 28px;
    margin-left: 288px;
    transition: margin-left 0.3s ease;
}

.aside-container.closed ~ .content {
    margin-left: 96px;
}

/* Estilos para el título del contenido */
.content-title {
    font-size: 24px;
    font-weight: 600;
    color: black;
}
