.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .calendario-container {
    margin-bottom: 20px;
  }
  
  .calendario {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendario-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .calendario-days {
    display: flex;
  }
  
  .calendario-day {
    flex: 1;
    text-align: center;
  }
  
  .calendario-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .calendario-date {
    text-align: center;
    cursor: pointer;
    padding: 30px;
  }
  
  .calendario-date.selected {
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
  }
  
  .time-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 600px;
    height: 320px;
  }
  
  .time-selection-container {
    margin-top: 0px;
  }
  
  .time-selection-container button {
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 1100px;
    cursor: pointer;
  }
  
  .time-selection-container select {
    margin-right: 10px;
    padding: 20px;
  }
  
  .time-selection-container label {
    margin-right: 10px;
  }
  