.calendario-container {
    text-align: center;
    margin-top: 20px;
}

.calendario {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px;
    background-color: #f9f9f9;
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendario-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.calendario-days {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.calendario-day {
    width: calc(100% / 7);
    font-weight: bold;
}

.calendario-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendario-date {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.calendario-date.selected {
    background-color: #007bff;
    color: #fff;
}

.time-selection-container {
    margin-top: 20px;
    text-align: center; /* Añadido para centrar los elementos */
}

.time-selection-container label {
    display: block;
    margin-bottom: 5px;
}

.time-selection-container select {
    width: 150px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.time-selection-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.time-selection-container button:hover {
    background-color: #0056b3;
}
